<!-- {{#if location}}
	<script type="text/javascript">
		window.location.href = "{{location}}";
	</script>
{{/if}} -->
<h2 class="page-header">Dashboard</h2>
<h3 class="page-header" style="width: 70%;">Welcome {{user.name}}</h3>
<b><u><span class="details">Details</span></u>:-</b>
<nav class="pull-right">
	<ul class="nav nav-pills pull-right">
		<li id="edit" role="presentation" class="nav-item">
			<a class="nav-link" href="#">Edit Account</a>
		<li>
		<li id="delete" role="presentation" class="nav-item">
			<a class="nav-link" href="#" data-id="{{user._id}}">Delete Account</a>
		<li>
	</ul>
</nav><br/><br/>
<div class="row">
	<script type='text/javascript' src='/js/indexHelper.js'></script>
	<div id="details" class="col-md-12" data-user="{{user}}">
		{{#if errors}}
		  	{{#each errors}}
		      	<div class="alert alert-danger">{{msg}}</div> 
		  	{{/each}}
		{{/if}}
		<div class="page-header">
			<form method="post" action="/users/update">
				<div class="form-group ID"> 
			    	<label>ID</label> 
			    	<input type="text" class="form-control" placeholder="ID" name="ID" id="ID"> 
			  	</div><br/>
			   	<div class="form-group"> 
			    	<label>Name</label> 
			    	<input type="text" class="form-control" placeholder="Name" name="name" id="name"> 
			  	</div><br/>
			  	<div class="form-group"> 
			    	<label>Username</label> 
			    	<input type="text" class="form-control" placeholder="Username" name="username" id="username"><br/><span id="infouser" style="font-size: small;">*Users can't change username once it's created.<span>
			  	</div>
			   	<div class="form-group"> 
			    	<label>Email</label> 
			    	<input type="email" class="form-control" placeholder="Email" name="email" id="email"><br/><span id="infoemail" style="font-size: small;">*Users can't change email once it's created.<span>
			  	</div>
			  	<div class="form-group"> 
			    	<label class="pwd">Password</label> 
			    	<input type="password" class="form-control" placeholder="Password" name="password"> 
			  	</div><br/>
			  	<div class="form-group"> 
			    	<label class="pwd">Confirm Password</label> 
			    	<input type="password" class="form-control" placeholder="Password" name="password2"> 
			  	</div><br/>
			  	<button type="submit" class="btn btn-lg btn-success" role="button">Save</button>&nbsp;&nbsp;&nbsp;
			  	<a href="/" id="cancel" class="btn btn-lg btn-default" role="button">Cancel</a>
			</form>			
		</div>
	</div>
</div>
